body,
main,
header,
div,
p,
textarea,
button,
img,
input,
ul,
li,
h1,
nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Segoe UI";
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 255);
}

a:hover {
  opacity: 0.7;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
