.ams-body {
  width: 100vw;
  display: flex;
}

.navbar-bg {
  width: 300px;
  height: 100vh;
  background-color: black;
  padding: 30px 0;
}

.navbar-container {
  border: 1px solid black;
  width: 200px;
  margin: 0 auto;
  height: 400px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ute-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ute-logo img {
  height: 60px;
}

.ute-logo h1 {
  color: white;
  font-size: 30px;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-left: 10px;
}

.navbar-menu li {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 20px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.navbar-menu li:hover {
  opacity: 0.7;
}
